// Quantum Script Extension Base64
// Copyright (c) 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// MIT License (MIT) <http://opensource.org/licenses/MIT>
// SPDX-FileCopyrightText: 2016-2024 Grigore Stefan <g_stefan@yahoo.com>
// SPDX-License-Identifier: MIT

#include <XYO/QuantumScript.Extension/Base64/Library.rh>
#include <XYO/QuantumScript.Extension/Base64/Copyright.rh>
#include <XYO/QuantumScript.Extension/Base64/Version.rh>

XYO_PLATFORM_VERSION_INFO(XYO_QUANTUMSCRIPT_EXTENSION_BASE64,"quantum-script--base64.dll","Quantum Script Extension Base64")
